@model List<Entities.DTOs.Blog.KeywordLinkDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


@if (TempData["KeywordUpdated"] != null)
{
    <div id="KeywordUpdated" class="alert alert-success">@TempData["KeywordUpdated"]</div>
}
@if (TempData["KeywordDeleted"] != null)
{
    <div id="KeywordDeleted" class="alert alert-success">@TempData["KeywordDeleted"]</div>
}
@section Category{}
<h4>Keywords</h4>
<hr />
<div class="m-2">
    <input class="form-control" type="text" style="width:500px" id="searchBox" placeholder="Ara..." />
</div>


<div id="keywordList">
    @Html.Partial("_KeywordList", Model)
</div>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var searchTerm = $(this).val();
            $.get("@Url.Action("Search", "Keyword", new { area = "Admin" })",
                { searchTerm: searchTerm },
                function (data) {
                    $("#keywordList").html(data);
                });
        });
    });

    // Sayfadaki tüm alert div'lerini seç
        document.querySelectorAll('.alert').forEach(function (alert) {
            setTimeout(function () {
                alert.classList.remove('show'); // fade-out başlat
                setTimeout(function () {
                    alert.remove(); // fade-out bitince tamamen kaldır
                }, 500);
            }, 3000); // 3 saniye sonra başlat
        });

</script>
