@using Entities.Concrete
@using Entities.DTOs
@model List<BlogListDto>

@foreach (var item in Model)
{
    <div class="card p-2 m-3 float-start" style="width: 450px;">
        <img src="~/images/BlogImages/small/Resim-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        </div>
    </div>
}
