
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="alert alert-danger"><h4>Bu işlem için yetkiniz yoktur.</h4></div>
<a href="/Admin/">Ana Sayfa İçin Tıklayın</a>

