@model List<Entities.DTOs.Blog.BlogListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section Category {
}
<div><a class="btn btn-primary" href="/Admin/Blog/AddBlog">Add Blog</a></div>

<div class="mb-3">
    <input class="form-text" type="text" id="searchBox" placeholder="Ara..." />
</div>
<h2>Blogs</h2>
<hr />

<div id="blogList">
    @Html.Partial("_BlogList", Model)
</div>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var searchTerm = $(this).val();
            $.get("@Url.Action("Search", "Blog", new { area = "Admin" })",
                { searchTerm: searchTerm },
                function (data) {
                    $("#blogList").html(data);
                });
        });
    });

</script>
